<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Book Shop</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar">
        <a href="/Receipt">Book Shop Receipt</a>
    </nav>

    <div class="content">
        @RenderBody()
    </div>

</body>
</html>
