body {
    font-family: Arial, sans-serif;
    background-color: #f4effa;
    margin: 0;
}

.navbar {
    background-color: purple;
    padding: 15px;
    text-align: center;
}

    .navbar a {
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

.content {
    padding: 30px;
}

.receipt {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: purple;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: purple;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.total {
    font-weight: bold;
    color: purple;
}
